<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHAzxbdUVPaBI4I6WXquI_DT308ZwuBsY</string>
	<key>GCM_SENDER_ID</key>
	<string>59927376997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.hmhcapp.ios</string>
	<key>PROJECT_ID</key>
	<string>hm-hc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hm-hc-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59927376997:ios:a4c05cfecb90cabb43c28c</string>
</dict>
</plist>